{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <title>Gimme URL, You</title>
    <link rel="icon" type="image/png" href="{% static 'app/pawprint.png' %}" />

    <!-- Bootstrap core CSS -->
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'app/sticky-footer.css' %}" rel="stylesheet">

    <!-- Custom styles for this scaffold -->
    <link href="{% static 'app/theme.css' %}" rel="stylesheet">

    <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
      <div class="container-fluid">
        <div class="row" style="margin-bottom: 5rem; margin-left: 0%; font-size: 200%;">
          <p><a href="/">HOME</a></p>

          <!-- **** Begin Fork-Me-On-Gitlab-Ribbon-HTML. See MIT License at https://gitlab.com/seanwasere/fork-me-on-gitlab **** -->
          <a href="{{ gitlab_home_page }}">
            <span style="font-family: tahoma; font-size: 20px; position:fixed; top:50px; right:-45px; display:block; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); background-color:red; color:white; padding: 4px 30px 4px 30px; z-index:99">Fork Me On GitLab</span>
          </a>
          <!-- **** End Fork-Me-On-Gitlab-Ribbon-HTML **** -->

        </div>
        <div class="row" style="margin-bottom: 5rem;">
          <div class="col-md-12">
            <div class="text-center">
        <form action="{% url 'shorten' %}" method="post" style="margin-bottom: 2rem;">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Tiny-ify it"/>
          <div class="g-recaptcha" data-sitekey="6LcsPBkTAAAAAC8PdjnUhN0GYVEcDACpW76G39cl"
               {% if not display_captcha %}
               style="display:none"
               {% endif %}
               ></div>
        </form>
              {% if short %}
              <div style="font-size: 200%">
                <p><strong>Dig: <a href="{% url 'lengthen' short %}">{{ short }}</a></strong></p>
              </div>
              {% else %}
              <div>
                <p>Your short URL will appear here.</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>Some recent entries (out of {{ approximate_table_size }} total) :</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th>Age</th>
                  <th>Long</th>
                  <th>Short</th>
                </tr>
                {% for e in recent_entries %}
                <tr>
                  <td>{{ e.created_at|timesince }}</td>
                  <td><a href="{{ e.original }}">{{ e.original|truncatechars:100 }}</a></td>
                  <td style="font-family: monospace;" ><a href="{% url 'lengthen'   e.short  %}">{{ e.short }}</a></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
        <a href="/admin/">Edit this stuff</a>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="text-center">
            <p class="text-muted">
              © 2015-2025 <a href="https://gitlab.com/offby1/">This guy right here</a>
              |
              A shameless (but nicer-looking) ripoff of <a href="http://tinyurl.com/">tinyurl.com</a>
              {% if this_commit_url %}
              |
              <a href="{{ this_commit_url }}">Version</a>
              {% endif %}
              |
              Now with ✨<a href="https://docs.djangoproject.com/">Django</a>💖
            </p>
          </div>
        </div>
      </footer>
      <script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
  </html>
